<a href="https://colab.research.google.com/github/NonLinear-Academy/programacion-estructurada/blob/main/ciclos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
mi_lista = ["Hola", "Mundo!", 1234, 3.14159, True, False, ["a", 0], "python"]

for elemento in mi_lista:
  print(elemento)
  print(type(elemento))

Hola
<class 'str'>
Mundo!
<class 'str'>
1234
<class 'int'>
3.14159
<class 'float'>
True
<class 'bool'>
False
<class 'bool'>
['a', 0]
<class 'list'>
python
<class 'str'>

In [4]:
def f(x):
  return 2*x+1

In [5]:
for numero in [1,2,3,4,5,6,7,8,9,10]:
  print(f(numero))

3
5
7
9
11
13
15
17
19
21

In [13]:
for numero in range(1, 10+1):
  print(numero, f(numero))

1 3
2 5
3 7
4 9
5 11
6 13
7 15
8 17
9 19
10 21

In [15]:
range(1,1000001)

range(1, 1000001)

In [17]:
for x in range(1,1000001):
  if x > 5:
    break
  print(x)

1
2
3
4
5

In [18]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
tuple(range(1,11))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [22]:
clientes = ["Juan", "Ana", "Pedro", "Maria"]
compras = [1000, 1002, 1004, 1006]

In [23]:
for posicion in [0,1,2,3]:
  print(clientes[posicion], compras[posicion])

Juan 1000
Ana 1002
Pedro 1004
Maria 1006

In [29]:
for posicion in range(4):
  print(clientes[posicion], compras[posicion])

Juan 1000
Ana 1002
Pedro 1004
Maria 1006

In [30]:
for posicion in range(len(clientes)):
  print(clientes[posicion], compras[posicion])

Juan 1000
Ana 1002
Pedro 1004
Maria 1006

In [31]:
for cliente, compra in zip(clientes, compras):
  print(cliente, compra)

Juan 1000
Ana 1002
Pedro 1004
Maria 1006

In [32]:
posicion = 0
while posicion < len(clientes):
  print(clientes[posicion], compras[posicion])
  posicion += 1

Juan 1000
Ana 1002
Pedro 1004
Maria 1006

In [38]:
x = 0
while x <= 1:
  print(x)
  x+=0.1

0
0.1
0.2
0.30000000000000004
0.4
0.5
0.6
0.7
0.7999999999999999
0.8999999999999999
0.9999999999999999

In [41]:
import numpy as np

for x in np.linspace(0,1,11):
  print(x)

0.0
0.1
0.2
0.30000000000000004
0.4
0.5
0.6000000000000001
0.7000000000000001
0.8
0.9
1.0